$header-bg: #131921;
$sheader-bg: #232f3e;
$body-bg-color: #eaeded;
$footer-i: #485769;
// $footer-ii: $sheader-color;
// $footer-iii: $header-color;

.t_c_w {
  color: #fff;
}

.t_c_c {
  color: #ccc;
}
.icon_w {
  color: #fff;
}
.icon_d {
  color: #000;
}
